<h1>
    Cart
    <span class="cart-item-count">
        {{ cart.item_count }}
    </span>
</h1>
{% if cart.item_count > 0 %}
    <h2>
        All preorders shop free this March.
    </h2>
    <form action="/cart" method="post" novalidate>
        <table>
            <thead>
                <th colspan="2">Order Summary</th>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    <tr>
                        <td>
                            {% if item.quantity > 1 %}
                                {{ item.quantity }}x
                            {% endif %}
                            {{ item.product.title }}
                            &ndash;
                            {{ item.variant.title }}
                        </td>
                        <td>
                            {{ item.line_price | money }}
                            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">X</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table id="cart-totals">
            <tbody>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>{{ cart.total_price | money }}</td>
                </tr>
            </tbody>
        </table>
        <button type="submit" name="checkout">Checkout</button>
    </form>
    <p>
        Any questions?
        <a href="mailto:support@getfitra.com">
            support@getfitra.com
        </a>
    </p>
{% else %}
    Cart is empty
{% endif %}
