{% assign mainProduct = all_products['fitra-activity-band'] %}

<h1>{{ mainProduct.title }}</h1>

<div id="product-images">
{% for image in mainProduct.images %}
<div class="single-product-image">
  <img src="{{ image | img_url: 'large'}}" />
</div> 
{% endfor %}
</div>

<div id="product-info">
  <div class="headline">
    <!-- <h2>Hassle Free Fitness Tracking</h2> -->
    <!-- Make dynamic for locale file (en.default.json); t filter references the translation; group.section.key | t -->
    <h2>{{ 'product.copy.headline' | t }}</h2>
  </div>
 
  <div class="description">
    <!-- <h3>Information</h3> -->
    <h3>{{ 'product.copy.description_headline' | t }}</h3>
    {{ mainProduct.description }}
  </div>

  <div class="details">
    <ul>
      <li>
        <!-- List Item 1 -->
        {{ 'product.details_list.item1' | t }}
      </li>
      <li>
        <!-- List Item 2 -->
        {{ 'product.details_list.item2' | t }}
      </li>
    </ul>
  </div>

  <div class="form-wrapper">  
  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
    <label for="productSelect">{{ mainProduct.options.first }}</label>
    <select name="id" id="productSelect">
      {% for variant in mainProduct.variants %}
        <option value="{{ variant.id }}">{{ variant.title }}</option>
      {% endfor %}   
    </select>
    <button type="submit" name="add" id="AddToCart">
      <!-- (Add to cart) Preorder-->
      {{ 'product.form.submit' | t }}
      <span class="product-price">{{ mainProduct.price | money_without_trailing_zeros }}</span>
     
    </button>
  </form>
  
</div>





<!-- {% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %} -->
